/*============================================

  ---------------Project Commerce--------------

==============================================*/

/* General Code */
/*===================start Components============*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --clr-primary: #192330;
  --clr-Secondary: #ffe505;
  --clr-light: #fff;
  --clr-dark: #222;
  --clr-p: #9ca4ab;
  --clr-grey: #65696c;
}
a {
  text-decoration: none;
  color: #000;
}

.container {
  margin-inline: auto;
  width: 80%;
  padding: 0 40px;
}
ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.main_title {
  height: 250px;
  text-align: center;
  background-color: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.main_title .title {
  text-transform: uppercase;
  color: var(--clr-Secondary);
  font-size: 4.5rem;
  position: relative;
}
.main_title p {
  color: var(--clr-light);
  font-size: 1.1rem;
  text-transform: uppercase;
}
.main_title .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 100%;
  border-bottom: 4px dashed var(--clr-light);
}
.main_title .title::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 100%;
  border-bottom: 4px solid var(--clr-light);
}
img {
  max-width: 100%;
  height: auto;
}
.p-block-100 {
  padding-block: 100px;
}
.p-block-50 {
  padding-block: 50px;
}
.m-block-25 {
  margin-block: 25px;
}
:focus {
  outline: 0;
}
.container {
  width: 80%;
  margin-inline: auto;
}
.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.d-flex {
  display: flex;
  align-items: center;
}
.align-center {
  align-items: center;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.d-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, auto));
}
.d-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, auto));
}
.d-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, auto));
}
.d-grid-5 {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, auto));
}
.btn-border {
  width: 200px;
  height: 55px;
  border: 2px solid var(--clr-Secondary);
  background: transparent;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}
.btn-border::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--clr-Secondary);
  transition: ease all 0.5s;
  z-index: -1;
  transform: translateX(-50%) skew(25deg);
}
.btn-border:hover::before {
  width: 130%;
}

.btn-full {
  border: 2px solid var(--clr-Secondary);
  width: 200px;
  height: 55px;
  font-size: 1rem;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  outline: none;
  color: var(--clr-light);
  position: relative;
  overflow: hidden;
}
.btn-full a {
  position: relative;
  z-index: 2;
  transition: ease all 0.5s;
}
.btn-full::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 200%;
  height: 100%;
  background: var(--clr-Secondary);
  transition: ease all 0.5s;
  z-index: 1;
  transform: translateX(-50%) skew(25deg);
}
.btn-full:hover::before {
  width: 0%;
}
.btn-full:hover a {
  color: var(--clr-light);
  transform: scale(1.08);
}
.title-1 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  position: relative;
}
.title-1::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 100%;
  border-bottom: 4px dashed var(--clr-Secondary);
}
.title-1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 100%;
  border-bottom: 4px solid var(--clr-Secondary);
}
.btn_container {
  display: flex;
  justify-content: center;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(25, 35, 48, 0.9);
  position: absolute;
  top: 0;
  left: 0;
}
/*===================End Components==============================*/
/*---------------------------Header------------------------------*/
header {
  padding-block: 1.5rem;
}
header nav .burger-menu {
  cursor: pointer;
  padding: 8px 5px;
  position: relative;
  border-radius: 3px;
}

nav .brand {
  font-size: 1.5rem;
  color: var(--clr-p);
  color: var(--clr-primary);
}
nav .brand span {
  color: var(--clr-Secondary);
  margin-right: 5px;
}

nav .burger-menu .line {
  display: block;
  width: 30px;
  height: 3px;
  background: var(--clr-primary);
  transition: ease all 0.5s;
  position: relative;
}
nav .burger-menu .line:nth-child(1) {
  margin-block: 0.4rem;
}
nav .burger-menu .line:nth-child(3) {
  margin-block: 0.4rem;
}
nav .burger-menu:hover {
  border-color: var(--clr-Secondary);
}
nav .burger-menu:hover .line {
  background: var(--clr-Secondary);
}
nav .navbar-items {
  display: flex;
  align-items: center;
}
.navbar-items li {
  margin-inline: 0.2rem;
}
.navbar-items li a {
  padding: 5px 15px;
  transition: ease all 0.5s;
  position: relative;
  color: var(--clr-grey);
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-items li a::before {
  content: "";
  position: absolute;
  top: -32px;
  left: 50%;
  height: 4px;
  width: 0%;
  transform: translateX(-50%);
  background: var(--clr-Secondary);
  transition: ease all 0.5s;
}
.navbar-items li a:hover {
  color: var(--clr-Secondary);
}
.navbar-items li a:hover::before {
  width: 100%;
}
nav .search {
  width: 50px;
  height: 50px;
}
nav .search i {
  color: var(--clr-light);
  background: var(--clr-primary);
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition: all ease 0.5s;
}
nav .search i:hover {
  transform: scale(1.1);
  background: var(--clr-Secondary);
  color: var(--clr-primary);
}
/*---------------------------End Header------------------------------*/

/*---------------------------Start hero-----------------------*/
.hero {
  height: calc(100vh - 98px);
  width: 100%;
  position: relative;
  overflow: hidden;
}
.hero .shape {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 200px;
}
.hero_title {
  font-size: 4.5rem;
  line-height: 1.2;
}
.hero_desc {
  font-size: 1.1rem;
  color: var(--clr-p);
  max-width: 500px;
}
.hero .content_txt {
  align-self: center;
}
.hero .img-box {
  width: 85%;
  padding-top: 60px;

  justify-self: end;
}

/*---------------------------END hero-------------------------*/
/*---------------------------Start Banner-------------------------*/
.banner {
  background: var(--clr-Secondary);
}
.banner .card_body {
  min-width: 300px;
  padding: 25px;
  min-height: 300px;
  background-color: var(--clr-light);
  position: relative;
}
.banner .scroll {
  width: 100%;
}
.banner .scroll .row {
  flex: 1;
}
.banner .scroll .arrow {
  margin-inline: 10px;
  height: 45px;
  width: 45px;
}
.banner .scroll .arrow i {
  width: 100%;
  height: 100%;
  background: var(--clr-light);
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  transition: all ease 0.5s;
}
.banner .scroll .arrow i:hover {
  background: var(--clr-primary);
  color: var(--clr-light);
}
.card_body > img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.card_body > .text {
  position: relative;
  z-index: 2;
  font-size: 2rem;
  font-weight: 700;
  max-width: 220px;
  margin-top: 2rem;
}
.card_body > .btn-border {
  position: relative;
  z-index: 2;
  width: 180px;
  margin-top: 30px;
}
.card_body .row {
  overflow: hidden;
  width: 100%;
}
/*---------------------------End Banner-------------------------*/
/*---------------------------Find Section-------------------------*/
.find_section {
  position: relative;
  clear: both;
  margin-bottom: 150px;
}
.find_body {
  width: 80%;
  padding: 30px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-light);
  box-shadow: rgba(17, 17, 26, 0.25) 0px 0px 16px;
}
.find_body .button {
  width: fit-content;
}

.find_title {
  font-size: 2rem;
  text-align: center;
}
.select_container {
  min-width: 326px;
}
.select_container select {
  padding: 0.6rem 1rem;
  border: 1px solid var(--clr-p);
  width: 100%;
  border-radius: none !important;
  font-size: 1.1rem;
  font-weight: 600;
  color: #666;
}
.select_container #type option {
  font-size: 1.1rem;
  padding: 0;
}

/*---------------------------End Find Section-------------------------*/
/*---------------------------Start News Section-------------------------*/

.news_section .body_card img {
  min-width: 100%;
  height: 242px;
  object-fit: cover;
}
.news_section .body_card {
  background: var(--clr-light);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.news_section .body_card .text {
  padding: 40px 30px;
}
.news_section .body_card .text h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.news_section .body_card .text span {
  color: var(--clr-p);
  margin-right: 10px;
}
.news_section .body_card .text span i {
  margin-right: 8px;
}
.news_section .body_card .text .desc {
  color: var(--clr-p);
  margin-block: 10px;
}
.news_section .news-btn {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  background: transparent;
  border: none;
  outline: none;
  width: 200px;
  height: 30px;
  letter-spacing: 2px;
}
.news_section .news-btn a {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  transition: all ease 0.7s;
}
.news_section .news-btn a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  height: 3px;
  width: 30px;
  background: var(--clr-Secondary);
}
.news_section .news-btn a:hover {
  transform: translateX(-10px);
  color: var(--clr-Secondary);
}
.news_section .view_btn {
  display: block;
  margin-top: 90px;
}

/*---------------------------End News Section-------------------------*/
/*---------------------------Start pubs Section-------------------------*/
.pubs_wrapper {
  background-image: url(../images/home/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 600px;
  position: relative;
  width: 100%;
}
.pubs_wrapper .shape {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
}
.pubs_wrapper .shape img {
  width: 100%;
}
.pubs_wrapper .row {
  position: relative;
}
.pubs_wrapper .txt_desc .pub_title {
  color: var(--clr-light);
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 10px;
}
.pubs_wrapper .txt_desc .desc {
  color: var(--clr-light);
  max-width: 580px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.pubs_wrapper .txt_desc ul li {
  color: var(--clr-light);
  margin-top: 10px;
}
.pubs_wrapper .txt_desc > .btn-full {
  margin-top: 30px;
}
/*--------End pubs Section---------*/
.sales .card_body {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}
.sales .card_body .img_box {
  text-align: center;
  height: 224px;
}
.sales .card_body img {
  width: 224px;
  height: 224px;
  object-fit: cover;
}
.sales .card_body .txt_desc {
  text-align: center;
  padding: 30px;
}
.sales .card_body .txt_desc h3 {
  margin-bottom: 15px;
}
.sales .card_body .txt_desc p {
  color: #ff6b00;
  font-size: 1.3rem;
  font-weight: 700;
}
.sales .card_body .txt_desc span {
  color: var(--clr-p);
  text-decoration: line-through;
  font-size: 1.1rem;
  font-weight: 600;
}
.sales .card_body .txt_desc .btn-border {
  width: 170px;
  height: 45px;
  margin-top: 15px;
}
/*--------End Sales Section--------------*/
/*--------Start PRovides Section--------------*/
.provides {
  background-image: url(../images/home/bg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.provie_title {
  position: relative;
  font-size: 3.5rem;
  color: var(--clr-light);
  text-align: center;
}
.provide_content {
  position: relative;
}
.provides .card_body {
  margin-top: 40px;
}
.provides .img-box {
  text-align: center;
}

.provides .txt_desc {
  text-align: center;
  padding: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 15px;
  color: var(--clr-light);
}

/*--------End provides Section--------------*/
/*--------Start newsletter Section--------------*/
.newsletter {
  background-image: url(../images/home/bg3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-block: 160px;
}
.newsletter > .overlay {
  background-color: rgba(25, 35, 48, 0.8);
  z-index: 1;
}
.newsletter h4 {
  font-size: 3rem;
  position: relative;
  z-index: 2;
  color: var(--clr-light);
  text-align: center;
}
.newsletter p {
  position: relative;
  z-index: 2;
  color: var(--clr-light);
  text-align: center;
  max-width: 450px;
  margin-inline: auto;
  margin-bottom: 50px;
}
.newsletter .search_box {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 60%;
  margin: auto;
}
.newsletter .search_box .input_box {
  flex: 1;
  margin-right: 10px;
  border: 3px solid var(--clr-light);
  height: 53px;
  display: flex;
  align-items: center;
  transition: all ease 0.5s;
}
.newsletter .search_box input {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 1.1rem;
  color: var(--clr-p);
  font-weight: 600;
  height: 100%;
}
.newsletter .search_box .input_box i {
  color: var(--clr-p);
  font-size: 1.3rem;
  padding-inline: 15px;
}
.newsletter .input_box:hover {
  border-color: var(--clr-Secondary);
}
.newsletter .search_box .input_box:focus {
  border: solid 1px var(--clr-Secondary);
}

.images .img_box {
  z-index: 2;
  position: relative;
  margin-top: 100px;
  max-height: 358px;
  overflow: hidden;
}

/*--------End neswsletter Section--------------*/
/*--------=========Footer ===============------*/
footer {
  padding-top: 100px;
  background: var(--clr-primary);
  border-bottom: 1px solid var(--clr-p);
}

footer .title_footer {
  color: var(--clr-light);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 40px;
}
footer img {
  max-width: 150px;
}
footer .desc {
  color: var(--clr-light);
}
.social_media {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}
footer .follow_us {
  margin-top: 15px;
  font-size: 1.2rem;
  color: var(--clr-Secondary);
  margin-bottom: 10px;
}
.social_media li i {
  width: 40px;
  height: 40px;
  color: var(--clr-primary);
  font-size: 22px;
  background: var(--clr-Secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
footer .address {
  color: var(--clr-light);
}
footer .address li {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
footer .address li i {
  font-size: 1.5rem;
}
footer .input_box input {
  background: transparent;
  padding: 15px 25px;
  border: none;
  border-bottom: 2px solid var(--clr-p);
  width: 100%;
  margin-bottom: 30px;
  color: var(--clr-light);
  font-size: 1.1rem;
}
footer .input_box input::placeholder {
  font-size: 1.1rem;
  color: var(--clr-p);
}
footer .btn-border {
  width: 100%;
}
footer .btn-border a {
  color: var(--clr-light);
}
footer .row {
  gap: 100px;
  padding-bottom: 60px;
}
footer hr {
  color: var(--clr-p);
}
.copyright {
  background: var(--clr-primary);
  text-align: center;
  padding: 30px 0;
}
.copyright p {
  font-size: 1.2rem;
  color: var(--clr-p);
}
/*----------------------Footer------------------*/

/*=================Page SHOP====================*/
.shop .main_section {
  display: grid;
  grid-template-areas: "sidebar products products products products";
  gap: 30px;
  background: #fbfbfb;
}
/*================= SIDEBAR ====================*/
.sidebar {
  grid-area: sidebar;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: fit-content;
  min-width: 300px;
}
.sidebar .sidebar_title {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2.5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d0d1d1;
  margin-bottom: 5px;
}
.sidebar p {
  color: var(--clr-p);
  letter-spacing: 2px;
  margin-bottom: 25px;
}
.price_input {
  width: 100%;
  display: flex;
  margin: 30px 0;
  justify-items: center;
}
.price_input .field input {
  height: 40px;
  width: 90px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-grey);
  border: 2px solid var(--clr-p);
  -moz-appearance: textfield;
}
.price_input .separator {
  height: 40px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price_input .separator span {
  width: 100%;
  height: 2px;
  background: var(--clr-p);
  display: block;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.slider {
  margin-top: 30px;
  width: 100%;
  height: 4px;
  background-color: var(--clr-p);
  border-radius: 5px;
  position: relative;
}
.progress {
  height: 4px;
  background-color: var(--clr-Secondary);
  border-radius: 5px;
  position: absolute;
  right: 25%;
  left: 25%;
}
.range_input {
  position: relative;
  width: 100%;
}
.range_input input {
  position: absolute;
  top: -5px;
  height: 4px;
  width: 100%;
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  background: var(--clr-Secondary);
  border-radius: 50%;
  -webkit-appearance: none;
  pointer-events: auto;
}
.bikes {
  margin-bottom: 60px;
}
.bikes .list_bikes {
  margin: 20px 0;
}
.bikes .list_bikes li {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}
.list_bikes input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--clr-p);
  position: relative;
  cursor: pointer;
  transition: all ease 0.3s;
  outline: 0 !important;
  background: transparent;
}
.list_bikes input[type="checkbox"]::after {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.list_bikes label {
  font-size: 1.1rem;
  color: var(--clr-p);
  cursor: pointer;
  transition: all ease 0.3s;
}
.list_bikes [type="checkbox"]:checked + label {
  color: var(--clr-Secondary);
}
.list_bikes input[type="checkbox"]:hover {
  border: 2px solid var(--clr-Secondary);
}
.list_bikes input[type="checkbox"]:checked {
  border: 2px solid var(--clr-Secondary);
}
.list_bikes input[type="checkbox"]:checked::after {
  display: block;
}
/*====================== Colors ======================== */

.colors {
  margin-bottom: 40px;
}
.list_color {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
  flex-wrap: wrap;
}
.list_color li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.list_color li.color_1 {
  background: #1cc88a;
}
.list_color li.color_2 {
  background: #5a159f;
}
.list_color li.color_3 {
  background: #d1f835;
}
.list_color li.color_4 {
  background: #2d66f6;
}
.list_color li.color_5 {
  background: #ff6b18;
}
.list_color li.color_6 {
  background: #9ca4ab;
}
.list_color li.color_7 {
  background: #00f60a;
}
.list_color li.color_8 {
  background: #9f1560;
}

/*================= End SIDEBAR ====================*/
/*================= PRODUCTS  ====================*/
.products {
  padding-inline: 20px;
  grid-area: products;
}
.products .row {
  gap: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.products .product_card {
  border-radius: 6px;
  transition: all ease 0.5s;
  background: var(--clr-light);
}
.products .product_card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.products .product_card .img_box {
  text-align: center;
  height: 224px;
}
.products .product_card img {
  width: 224px;
  height: 224px;
  object-fit: cover;
}
.products .product_card .txt_desc {
  text-align: center;
  padding: 30px;
}
.products .product_card .txt_desc h3 {
  margin-bottom: 15px;
}
.products .product_card .txt_desc p {
  color: #ff6b00;
  font-size: 1.3rem;
  font-weight: 700;
}
.products .product_card .txt_desc span {
  color: var(--clr-p);
  text-decoration: line-through;
  font-size: 1.1rem;
  font-weight: 600;
}
.products .product_card .txt_desc .btn-border {
  width: 170px;
  height: 45px;
  margin-top: 15px;
}
/*================= eND PRODUCTS  ====================*/
/*================= Filter Display  ====================*/
.display_filter {
  margin-left: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 20px;
  padding: 15px;
}
.display_filter .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.display_filter .navigation a {
  display: flex;
  align-items: center;
  color: var(--clr-p);
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 600;
}
.display_filter .navigation .icons {
  display: flex;
  gap: 5px;
  margin-left: 10px;
}
.display_filter .navigation .icons i {
  font-size: 1.5rem;
}
.display_filter .navigation li {
  display: flex;
  align-items: center;
}
.display_filter .navigation li span {
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--clr-p);
}
/* =========== Filter Displat ========= */
/* =========== pagination  ========= */
.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.pagination li {
  width: 50px;
  height: 50px;
  border: 2px solid #ebedec;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.5s;
}
.pagination li.active {
  background: var(--clr-Secondary);
  border: none;
}
.pagination li:hover {
  border-color: var(--clr-Secondary);
}
/* =========== End pagination  ========= */
/*================= Section About us ==========*/

.stories {
  margin-top: 70px;
}
.stories .story_body img {
  object-fit: cover;
  width: 100%;
}
.stories .story_body .s_title {
  text-align: center;
  font-size: 1.5rem;
}
.stories .desc {
  color: var(--clr-p);
  text-align: center;
  width: 80%;
  margin: auto;
}

/*=================Stories====================*/
/*================= Statis =================*/
.statis {
  background-image: url(../images/home/bg3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-block: 160px;
}
.statis .container {
  padding: 0 60px;
}
.statis > .overlay {
  background-color: rgba(25, 35, 48, 0.8);
}
.statis .statis_content {
  position: relative;
  text-align: center;
}
.statis_content .statis_card h3 {
  font-size: 2.5rem;
  color: var(--clr-Secondary);
  position: relative;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}
.statis_content .statis_card h3::after {
  content: "";
  width: 100%;
  height: 3px;
  background: var(--clr-Secondary);
  position: absolute;
  left: 0;
  bottom: 0;
}
.statis_content .statis_card h4 {
  font-size: 1.5rem;
  color: var(--clr-light);
  margin-bottom: 15px;
}
.statis_content .statis_card p {
  color: var(--clr-p);
}
/*================= End Statis =================*/
/*================= our Staffs =================*/

.staffs_container {
  margin-top: 60px;
}
.staffs_container .staff_card img {
  width: 100%;
  object-fit: cover;
}
.staff_card h3 {
  color: var(--clr-dark);
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
}
.staff_card {
  text-align: center;
}
.staff_card span {
  color: var(--clr-p);
  font-size: 1.2rem;
  margin-bottom: 25px;
  display: block;
}
.staff_card > .social_media {
  justify-content: center;
}

/*================= our Staffs =================*/
/*================= Testimonilas  =================*/
.testimonials {
  background-image: url(../images/home/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 600px;
  position: relative;
  width: 100%;
}
.testimonials > .overlay {
  background-color: rgba(25, 35, 48, 0.9);
}
.testimonials_title {
  position: relative;
  color: var(--clr-light);
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 20px;
}
.testimonials .container {
  position: relative;
}
.costumer_card {
  background: var(--clr-light);
  padding: 35px 45px;
  position: relative;
}
.costumer_card .comment {
  color: var(--clr-p);
  line-height: 2;
}
.profil {
  margin-top: 30px;
}
.costumer_card img {
  width: 100px;
  border-radius: 50%;
}
.name_costumer h5 {
  font-size: 1.2rem;
  margin-bottom: 6px;
}
.name_costumer i {
  color: var(--clr-Secondary);
  font-size: 1.2rem;
  letter-spacing: 5px;
}
.arrow {
  width: 50px;
  height: 50px;
  background: var(--clr-Secondary);
  margin-inline: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 22;
}
.arrow.right {
  right: -2px;
}
.arrow.left {
  left: -2px;
}
.arrow i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/*================ Start Contact us ==========*/

.contacts .container {
  padding: 50px 0;
  margin-top: 60px;
}
.body_info {
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.25) 0px 0px 16px;
}
.social_brand {
  width: 250px;
  height: auto;
  text-align: center;
  border-right: 2px solid var(--clr-p);
  margin-right: 30px;
  padding-right: 20px;
}
.social_brand i {
  font-size: 7.5rem;
  color: var(--clr-p);
}
.social_brand h4 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--clr-p);
  margin-top: 10px;
}
.body_info .contact_info span {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr-grey);
  margin-bottom: 10px;
}
/*================ Get in touch ========== */

.touch_body img {
  width: 700px;
  object-fit: cover;
}
.touch_body {
  width: 100%;
}
.touch_body .touch_title {
  font-size: 3.5rem;
}
.touch_body p {
  font-size: 1.18rem;
  color: var(--clr-grey);
  line-height: 1.8;
}
.touch_body p.desc_1 {
  margin-bottom: 15px;
}
/*============= forms =============== */
.forms_content {
  padding-block: 70px;
}
.forms_content .row {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, auto));
  gap: 30px;
}
.forms_content .input_box {
  width: 100%;
  padding: 15px 30px;
  border: 2px solid var(--clr-p);
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all ease 0.5s;
}
.forms_content .input_box:focus-within {
  border-color: var(--clr-Secondary);
}
.forms_content .input_box input {
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
  flex: 1;
}
.forms_content .input_box i {
  font-size: 1.2rem;
  color: var(--clr-p);
}
.forms_content .txt_area {
  grid-column: 1 / 4;
  height: 250px;
  border: 2px solid var(--clr-p);
  padding: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.forms_content .txt_area:focus-within {
  border-color: var(--clr-Secondary);
  transition: all ease 0.5s;
}
.forms_content .txt_area i {
  font-size: 1.3rem;
  color: var(--clr-p);
}
.forms_content .txt_area textarea {
  resize: none;
  flex: 1;
  height: 100%;
  font-size: 1.2rem;
  margin-left: 20px;
  border: none;
}
.forms_content .btn_container {
  margin-top: 60px;
}
.forms_content .btn-border {
  width: 270px;
  height: 65px;
}
/*--------- GAllery --------------- */

.grid_system {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, auto));
  gap: 15px;
}

.grid_system .img_box img {
  width: 100%;
  object-fit: cover;
}
.grid_system .img_box_1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;

  background-image: url(../images/gallery/gallery01.jpg);
  background-size: cover;
  height: 656px;
  background-position: center;
}
.grid_system .img_box_2 {
  grid-column: 3 / 4;
  background-image: url(../images/gallery/gallery02.jpg);
  background-size: cover;
  height: 320px;
  background-position: center;
}
.grid_system .img_box_3 {
  grid-column: 3 / 4;
  background-image: url(../images/gallery/gallery03.jpg);
  background-size: cover;
  height: 320px;
  background-position: center;
}
.grid_system .img_box_4 {
  grid-column: 1 / 2;
  grid-row: 3/5;
  background-image: url(../images/gallery/gallery04.jpg);
  background-size: cover;
  height: 656px;
  background-position: center;
  position: relative;
}
.grid_system .img_box_5 {
  grid-column: 2 / 4;
  background-image: url(../images/gallery/gallery05.jpg);
  background-size: cover;
  height: 320px;
  background-position: center;
  position: relative;
}
.grid_system .img_box_6 {
  grid-column: 2 / 4;
  background-image: url(../images/gallery/gallery06.jpg);
  background-size: cover;
  height: 320px;
  background-position: center;
}
.grid_system .img_box_7 {
  background-image: url(../images/gallery/gallery07.jpg);
  background-size: cover;
  height: 320px;
  background-position: center;
}
.grid_system .img_box_8 {
  background-image: url(../images/gallery/gallery08.jpg);
  background-size: cover;
  height: 320px;
  background-position: center;
}
.grid_system .img_box_9 {
  background-image: url(../images/gallery/gallery09.jpg);
  background-size: cover;
  height: 320px;
  background-position: center;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(25, 35, 48, 0.9);
  opacity: 0;
  cursor: pointer;
  transition: all ease 0.3s;
  position: relative;
}
.infos h2 {
  color: var(--clr-Secondary);
  font-size: 3rem;
  position: relative;
  transition: all ease 0.5s;
  margin-bottom: 8px;
  transform: translateX(-60px);
}
.infos h2::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  background: var(--clr-Secondary);
  width: 70px;
  height: 2px;
  transform: translateX(-50%);
  transition: all ease 0.5s;
}
.infos span {
  color: var(--clr-light);
  transition: all ease 0.8s;
  transform: translateX(-100px);
  transition-delay: 0.1s;
}
.infos:hover {
  opacity:1 ;
}
.infos:hover  h2{
  transform: translateX(0);
}
.infos:hover  span{
  transform: translateX(0);
}
/*--------- GAllery --------------- */

/*=============== FAQ ============== */

.faq {
  background: #f8f8f8;
}

.questions_content {
  max-width: 70%;
  margin: auto
}
.questions_content .accordian {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.questions_content .accordian .btn_accordian {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 2px solid var(--clr-p);
  outline: none;
  background: var(--clr-light);
  cursor: pointer;
}
.btn_accordian a{
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--clr-grey);
}
.btn_accordian i {
  font-size: 1.2rem;
  color: var(--clr-grey);
  transition:  0.7s   ease;


}
.questions_content .response {
  width: 100%;
  max-height: 0;
  background-color: var(--clr-light);

  overflow: hidden;
  transition: max-height  0.7s ease;


}
.questions_content .response p {
  padding: 15px;
  line-height: 1.5;
  transition:  0.7s ease;
}
.btn_accordian.active + .response{
  max-height: 1000px;
}
.btn_accordian.active i {
  transform: rotate(-180deg);
}

/*=============== FAQ ============== */